<header class="header">
	<div class="preface">
		{% if main %}
		<a href="#color-values" class="offscreen">Jump to the form</a>
		{% else %}
		<a href="#main" class="offscreen">Jump to main content</a>
		{% endif %}
		<div class="dark-mode-selector">
			<label for="darkmode-toggle" class="switch" tabindex="0">
				<input id="darkmode-toggle" class="darkmode-toggle" type="checkbox" tabindex="-1">
				<span class="control"></span>
				<span class="label" id="darkmode-text-toggle">Go dark</span>
			</label>
		</div>

	</div>
	<div class="title">
		<h1><a href="/">Tint &amp; Shade Generator</a></h1>
		{% if not main %}
		<div class="ads ads-secondary">
			<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CW7ILKQU&placement=maketintsandshadescom&format=cover" id="_carbonads_js"></script>
		</div>
		{% endif %}
	</div>
</header>